<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user %>
  </p>

</div>
